<section class="mt-12 w-full">
  <h1 class="mb-8 text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl">Abilities</h1>
  <!-- abilities list -->
  <% if @abilities.any? %>
    <!-- table head -->
    <div class="mb-4 w-full grid grid-cols-2 font-semibold border-b border-gray-300 py-2">
      <div>ID</div>
      <div>Name</div>
    </div>
    <!-- table content -->
    <div class="grid gap-4">
      <% @abilities.each do |ability| %>
        <div class="w-full grid grid-cols-2 items-center border-b border-gray-200 py-2">
          <div><%= ability.id %></div>
          <div><%= link_to ability.name, ability_path(ability), class: "text-blue-500 hover:underline" %></div>
        </div>
      <% end %>
    </div>
    <!-- pagination -->
    <div class="mt-12 mb-24">
      <%= render 'kaminari/paginator', collection: @abilities %>
    </div>
  <% else %>
    <p>No abilities found.</p>
  <% end %>
</section>
