<section class="mt-12 w-full">
  <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-6xl"><%= @item.name %></h1>
  <% if @item.present? %>
    <!-- Ability Details -->
    <div class="mt-12">
      <p><strong>ID:</strong> <%= @item.id %></p>
      <p><strong>Name:</strong> <%= @item.name %></p>
    </div>

    <!-- Pokémon with this Ability -->
    <div class="mt-12">
      <h2 class="text-xl font-semibold text-gray-800">Pokémon who holds this item:</h2>

      <% if @item.pokemons.any? %>
        <%= render "shared/pokemon_list", pokemons: @item.pokemons %>
      <% else %>
        <p class="text-gray-600 mt-4">No Pokémon has this item.</p>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-600">Item not found.</p>
  <% end %>
</section>

